{{ ansible_managed | comment }}

{{ sudo_aliases_comment | comment }}
{% if sudo_sudoers_users_aliases is mapping %}
{% for key, value in sudo_sudoers_user_aliases.items() %}
User_Alias {{ key }} = {{ value if value is string else value | join(', ') }}
{% endfor %}
{% endif %}
{% if sudo_sudoers_runas_aliases is mapping %}
{% for key, value in sudo_sudoers_runas_aliases.items() %}
Runas_Alias {{ key }} = {{ value if value is string else value | join(', ') }}
{% endfor %}
{% endif %}
{% if sudo_sudoers_cmnd_aliases is mapping %}
{% for key, value in sudo_sudoers_cmnd_aliases.items() %}
Cmnd_Alias {{ key }} = {{ value if value is string else value | join(', ') }}
{% endfor %}
{% endif %}

{% for item in sudo_defaults %}
Defaults{{ ":" ~ item.name if item.name is defined else "" }} {{ item.defaults }}
{% endfor %}

{% for item in sudo_users %}
{% if item.commands is not defined %}
{{ item.name }} {{ item.hosts | default('ALL') }}={{ "(" ~ item.users | default('ALL') ~ ":" ~ item.groups | default('ALL') ~ ")" }} {{ "NOPASSWD:" if item.nopasswd | default(false) else "" }} ALL
{% elif item.commands is string %}
{{ item.name }} {{ item.hosts | default('ALL') }}={{ "(" ~ item.users | default('ALL') ~ ":" ~ item.groups | default('ALL') ~ ")" }} {{ "NOPASSWD:" if item.nopasswd | default(false) else "" }} {{ item.commands }}
{% else %}
{% for command in item.commands %}
{{ item.name }} {{ item.hosts | default('ALL') }}={{ "(" ~ item.users | default('ALL') ~ ":" ~ item.groups | default('ALL') ~ ")" }} {{ "NOPASSWD:" if item.nopasswd | default(false) else "" }} {{ command }}
{% endfor %}
{% endif %}
{% endfor %}
